.onboarding {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 1.25rem;
  min-height: 100vh;

  &__background {
    position: absolute;
    width: 100%;
    top: 0;
    height: 400px;
    background-image: url('/src/pages/OnBoarding/onboarding-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0px -80px 80px 60px var(--background);
    z-index: -1;
  }
}

.onboarding__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .container__text {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
    // margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .container__link {
    color: var(--background);
    background-color: var(--pale-violet);
    padding: 1rem 1.25rem;
    width: 50%;
    text-align: center;
    font-weight: 700;
    font-size: 1rem;
    outline: none;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.1s ease-out, color 0.1s ease-out;

    &:hover {
      background-color: var(--background2);
      color: #fff;
      transition: 0.2s ease-out;
    }
  }
}
