@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__animation {
    max-width: 150px;
    max-height: 150px;
    min-height: 30px;
    min-width: 30px;
    border-top: 8px solid var(--pale-violet);
    border-radius: 50%;
    animation: spin 2s linear infinite;
  }
}
