@media (min-width: 0px) and (max-width: 767.98px) {
}

@media (min-width: 767.99px) {
  body {
    margin-bottom: 0;
    box-shadow: inset -15px 0 15px -10px var(--background-dark),
      inset 15px 0 15px -10px var(--background-dark);
  }

  .bottom-nav {
    display: none;
  }

  .home {
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;

    .home-features {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    &-unauthorized {
      height: 650px;
      max-height: 650px;
      box-shadow: inset 5px -46px 80px 109px var(--background);
      z-index: -1;
    }

    &__heading {
      margin-top: 50%;
      font-size: 2rem;
      line-height: 2.5rem;
    }
  }

  .burger-menu__aside {
    width: 40%;
  }

  .burger-button {
    display: none;
  }

  .header {
    padding: 0;
    transition: box-shadow 0.2s ease-out;

    &:hover {
      box-shadow: inset -10px 10px 20px 5px var(--backlight);
      transition: 0.2s ease-out;
    }

    &-container {
      max-width: 950px;
      margin-right: auto;
      margin-left: auto;
      padding: 0 1.25rem;

      &__logo {
        position: static;
        transform: translateX(0);
      }
    }

    &-nav {
      display: block;
    }
  }

  .recent-articles .container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .article-card {
    margin-bottom: 0.75rem;
    margin-right: 0.75rem;
  }

  .latest-news-card {
    flex-direction: row;

    &__image {
      width: 100%;
      object-fit: cover;
    }
  }

  .popular-month-lists-grid {
    flex-direction: row;
  }

  .popular-month-section {
    flex-wrap: nowrap;
    gap: 0.5rem;
  }

  .burger-menu {
    display: none;
  }

  .footer .footer-list {
    display: flex;
    flex-direction: row;
  }

  .film {
    max-width: 950px;
    margin-right: auto;
    margin-left: auto;

    &-page {
      flex-direction: row;

      &-info {
        margin-left: 2.5rem;
      }
    }

    &-background {
      margin-top: -5%;
      height: 500px;
      max-height: 500px;
      box-shadow: inset 5px -46px 80px 109px var(--background);
    }

    &-cover {
      align-self: center;
      width: 14rem;
      height: 20rem;
    }

    &-link {
      &_profile {
        max-width: 140px;
        max-height: 220px;
      }

      &:hover {
        .lists-buttons {
          display: block;
        }
      }
    }
  }

  .error {
    max-width: 950px;
    margin-right: auto;
    margin-left: auto;

    &__image {
      box-shadow: inset 5px 40px 90px 110px var(--background);
    }
  }

  .profile {
    max-width: 950px;
    margin-right: auto;
    margin-left: auto;

    &-avatar {
      width: 100px;
      height: 100px;
      margin-top: 0;
      left: 0;
      transform: translateY(-30%);
    }

    &-page {
      &-header {
        margin-top: 0.5rem;
        flex-direction: row;

        &__profile-list-counter {
          justify-self: flex-end;
          margin: 0;
          margin-left: auto;
          height: fit-content;
        }

        &__container {
          margin-left: 1rem;
        }

        &__name {
          text-align: start;
          margin-top: 0;
        }
      }

      &__flex {
        gap: 3rem;
        flex-direction: row;
        justify-content: space-between;
      }
    }

    .review-card__film-link {
      width: 140px;
      height: 220px;
    }
  }

  .login {
    &-page {
      max-width: 950px;
      margin-left: auto;
      margin-right: auto;
    }

    &__background {
      box-shadow: inset 0px -80px 80px 60px var(--background);

      &::before {
        transform: rotate(0);
      }
    }
  }

  .onboarding {
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;

    &__background {
      background-size: fill;
      background-position: center;
    }
  }

  .article {
    max-width: 950px;
    margin: 0 auto;
  }
}
