:root {
  --background: #1e1e2e;
  --background-dark: #11111b;
  --pale-pink: #eba0ac;
  --dark-pink: rgba(233, 166, 166, 0.05);
  --grey: rgba(196, 196, 196, 0.58);
  --background-light: #313244;
  --border-grey: #45475a;
}
