:root {
  --background: #1f1d36;
  --background-dark: #15122b;
  --pale-pink: #e9a6a6;
  --dark-pink: rgba(233, 166, 166, 0.05);
  --grey: rgba(196, 196, 196, 0.34);
  --background-light: #3d3b54;
  --border-grey: #ddeeff40;
}
