//Catppuccin Macchiato

:root {
  --background: #24273a;
  --background-dark: #1e2030;
  --pale-violet: #c6a0f6;
  --background2: #1e2030;
  --grey: #6e738d;
  --background-light: #363a4f;
  --border-grey: #494d64;
  --backlight: rgba(237, 135, 150, 0.05);
}
