.header {
  position: fixed;
  width: 100%;
  height: 4.3775rem;
  top: 0;
  left: 0;
  padding: 0 1.25rem;
  background-color: var(--background2);
  z-index: 10;

  &-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    &__logo {
      position: absolute;
      display: block;
      left: 50%;
      transform: translateX(-50%);
      align-self: center;
      height: 90%;

      & > img {
        height: 100%;
      }
    }

    &__profile {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    &__logout-button {
      &:hover,
      &:active {
        background-color: var(--pale-violet);
      }
    }
  }

  &-nav {
    display: none;

    ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;

      li {
        font-weight: 600;
        font-size: 0.8rem;
        transition: 0.05s ease-out;

        &:not(.container) {
          & > a {
            display: flex;
            align-items: center;

            &:hover,
            &:active {
              color: var(--pale-violet);

              & > img {
                filter: invert(76%) sepia(54%) saturate(2784%)
                  hue-rotate(206deg) brightness(102%) contrast(93%);
              }
            }
          }
        }
      }

      .container {
        padding: 0.3rem;
        position: relative;
        border-radius: 0.25rem 0.25rem 0 0;
        flex-shrink: 0;

        &:hover {
          background-color: var(--grey);
          border-bottom: none;
          color: var(--background);

          .header-profile__dropdown {
            display: flex;
          }
        }
      }
    }

    &__login-button {
      &:hover,
      &:active {
        background-color: var(--red);
      }
    }
  }

  &-profile {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0 1rem;

    &__logout-button {
      &:hover,
      &:active {
        background-color: var(--pale-violet);
      }
    }

    &__dropdown {
      display: none;
      flex-direction: column;
      position: absolute;
      width: 100%;
      height: auto;
      top: 100%;
      left: 0;
      background-color: var(--grey);
      border-radius: 0 0 0.25rem 0.25rem;
      padding-bottom: 0.5rem;
      width: 100%;
      line-height: 1.25rem;
      text-align: center;
      color: var(--background);
      transition: background-color 0.1s;

      a:hover {
        background-color: var(--primary-color);
        transition: background-color 0.1s;
      }
    }
  }

  &__theme-switcher {
    .theme-switcher__label {
      margin-right: 0.3rem;
    }

    .theme-switcher__icon {
      margin-right: 0.2rem;
    }
  }
}
