.search-input {
  width: 100%;
  transform: translateY(-100%);
  max-width: 950px;
  margin: 0 auto;
  height: 3.5rem;
  padding: 1rem;
  color: var(--primary-color);
  background-color: var(--background-light);
  border: none;
  outline: none;
  transition: 0.1s ease-out;
  opacity: 0;
  margin-bottom: -3.5rem;

  &:focus {
  }

  .header__search-input {
    position: absolute;
    top: 0;
  }

  &_active {
    transform: translateY(0);
    transition: 0.1s ease-out;
    opacity: 1;
    margin-bottom: 0rem;
  }
}
