.profile {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  width: 100%;

  &-background {
    height: 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1.25rem;

    &-header {
      display: flex;
      flex-direction: column;
      width: 100%;

      &__name {
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 1.25rem;
        text-align: center;
        margin: 0.5rem 0;
        color: var(--pale-violet);
      }

      &__bio {
        text-align: center;
      }

      &__profile-list-counter {
        margin-top: 1rem;
        margin-bottom: 3.5rem;
      }
    }

    &__flex {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    &__container {
      align-self: flex-start;
      width: 100%;
      display: flex;
      justify-content: space-between;

      h2 {
        font-weight: 700;
        margin-bottom: 0.5rem;
      }

      a {
        font-size: 0.8rem;
        font-weight: 600;

        &:hover,
        &:active {
          color: var(--pale-violet);
        }
      }
    }
  }

  .profile-list-counter {
    display: flex;
    flex-direction: row;

    a {
      width: 50%;
      padding: 0 0.75rem;

      .counter {
        font-weight: 700;
      }

      &:hover,
      &:active {
        color: var(--pale-violet);
      }

      p {
        text-align: center;
      }
    }

    &__favorites {
      border-right: 2px solid var(--border-grey);

      &_inactive {
        pointer-events: none;
      }
    }

    &__watchlist {
      &_inactive {
        pointer-events: none;
      }
    }
  }

  &-list-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.25rem;

    &__film-link {
      width: 16%;

      &:hover {
        .lists-buttons {
          flex-direction: column;
        }
      }
    }
  }

  hr {
    margin-bottom: 1.25rem;
  }

  &-reviews-section {
    @extend .profile-list-section;
    margin-top: -0.5rem;
    padding-bottom: 3rem;
    flex-direction: column;
  }
}
