.profile {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  width: 100%;

  &-background {
    height: 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &-avatar {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: 2px solid var(--border-grey);
    margin-top: -45px;
    width: 90px;
    height: 90px;
    overflow: hidden;

    img {
      width: 100px;
      height: 100px;
      min-height: 100%;
    }
  }

  &-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1.25rem;

    &-header {
      display: flex;
      flex-direction: column;
      width: 100%;

      &__name {
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 1.25rem;
        text-align: center;
        margin: 0.5rem 0;
        color: var(--pale-violet);
      }

      &__bio {
        text-align: center;
      }

      &__profile-list-counter {
        margin-top: 1rem;
        margin-bottom: 3.5rem;
      }
    }

    &__flex {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    &__container {
      align-self: flex-start;
      width: 100%;
      display: flex;
      justify-content: space-between;

      h2 {
        font-size: 0.875rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
      }

      a {
        font-size: 0.8rem;
        font-weight: 600;

        &:hover {
          color: var(--pale-violet);
        }
      }
    }
  }

  .profile-list-counter {
    display: flex;
    flex-direction: row;

    a {
      width: 50%;
      padding: 0 0.75rem;

      .counter {
        font-weight: 700;
      }

      &:hover {
        color: var(--pale-violet);
      }

      p {
        text-align: center;
      }
    }

    &__favorites {
      border-right: 2px solid var(--border-grey);
    }
  }

  &-favorites {
    width: 100%;

    &__section {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0.25rem;
    }
  }

  hr {
    margin-bottom: 1.25rem;
  }

  &-watchlist {
    @extend .profile-favorites;

    &__section {
      @extend .profile-favorites__section;
    }
  }

  .review-card {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0;
    gap: 0.75rem;
    border-bottom: 2px solid var(--border-grey);

    &__info {
      a {
        font-size: 1.25rem;
        line-height: 1.75rem;
        font-weight: 700;

        &:hover {
          color: var(--pale-violet);
        }
      }

      span {
        margin-left: 0.3rem;
        font-size: 0.875rem;
        color: var(--grey);
      }

      p {
        font-size: 0.875rem;
        padding-top: 0.5rem;
        color: var(--grey);
      }
    }
  }

  &-reviews {
    @extend .profile-favorites;
    margin-top: -0.5rem;
    padding-bottom: 3rem;

    &__section {
      display: flex;
      flex-direction: column;
    }
  }
}
