.article {
  min-height: 90vh;
  margin-bottom: 1.25rem;

  &-heading {
    margin: 1.31rem 1.25rem 1.25rem 1.25rem;
    font-weight: 700;
    font-size: 1.5rem;
  }

  &-body {
    margin-top: 1.25rem;

    &__date {
      margin: 0 0 0.5rem 0;
      &__heading {
        font-weight: 700;
        font-size: 1rem;
      }

      & > i {
        font-weight: 600;
      }
    }
  }

  &-page {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    margin-bottom: 1.31rem;
  }
}
