footer.footer {
  width: 100%;
  background-color: var(--background-light);
  padding: 1.5rem 1rem;

  .footer-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding: .25rem 0;
 
    &__element {
        font-weight: 700;
        margin-right: .5rem;
        font-size: .7rem;
        line-height: 1rem;
        
        a:hover {
            color: var(--pale-pink);
        }
    }
}

  .footer-grid {
    display: flex;
    align-items: center;
    margin-bottom: 0.75rem;
  }

  p {
    font-size: 0.75rem;

    a {
      text-decoration: underline;

      &:hover {
        color: var(--pale-pink);
      }
    }
  }
}
