//Catppuccin

//Dark theme

:root {
  --primary-color: #fff;
  --background: #24273a;
  --pale-violet: #c6a0f6;
  --background2: #1e2030;
  --grey: #6e738d;
  --background-light: #363a4f;
  --border-grey: #494d64;
  --backlight: rgba(237, 135, 150, 0.05);
  --red: #ed8796;
  --pink: #ee99a0;
  --green: #a6da95;
  --teal: #8bd5ca;
  --yellow: #eed49f;
  --peach: #f5a97f;
}

//Light theme

[data-theme='light'] {
  --primary-color: #24273a;
  --background: #eff1f5;
  --pale-violet: #5b6078;
  --background2: #ccd0da;
  --grey: #9ca0b0;
  --background-light: #dce0e8;
  --border-grey: #bcc0cc;
  --backlight: rgba(237, 135, 150, 0.05);
  --red: #d20f39;
  --pink: #e64553;
  --green: #40a02b;
  --teal: #179299;
  --yellow: #df8e1d;
  --peach: #fe640b;

  .header-profile__logout-button {
    color: var(--background);

    &:hover,
    &:active {
      color: var(--background);
    }
  }

  .header-profile__login-button {
    color: var(--primary-color);

    &:hover,
    &:active {
      color: var(--background);
    }
  }

  .home-features .home-feature {
    color: var(--primary-color);

    &__icon {
      filter: invert(8%) sepia(9%) saturate(4273%) hue-rotate(194deg)
        brightness(94%) contrast(82%);
    }

    &:hover,
    &:active {
      color: var(--background);

      .home-feature__icon {
        filter: invert(96%) sepia(7%) saturate(96%) hue-rotate(182deg)
          brightness(100%) contrast(94%);
      }
    }
  }

  .bottom-nav__button .container {
    img {
      filter: invert(12%) sepia(10%) saturate(2289%) hue-rotate(194deg)
        brightness(95%) contrast(90%);
    }

    &::after {
      border-bottom: 2px solid var(--primary-color);
    }
  }

  .burger-button {
    filter: invert(12%) sepia(10%) saturate(2289%) hue-rotate(194deg)
      brightness(95%) contrast(90%);
  }

  .nav-link > img {
    filter: invert(12%) sepia(10%) saturate(2289%) hue-rotate(194deg)
      brightness(95%) contrast(90%);
  }

  .nav-link_active > img {
    filter: invert(96%) sepia(7%) saturate(96%) hue-rotate(182deg)
      brightness(100%) contrast(94%);
  }

  .film-review-form__submit:hover,
  .film-review-form__submit:active {
    color: var(--background);
  }

  .login-form__warning {
    color: var(--background);
  }

  .dropdown-menu__placeholder::after {
    filter: invert(16%) sepia(12%) saturate(1285%) hue-rotate(194deg)
      brightness(91%) contrast(99%);
  }

  .review {
    &-card {
      &__delete {
        filter: invert(98%) sepia(10%) saturate(553%) hue-rotate(177deg)
          brightness(99%) contrast(93%);
      }
    }
  }
}
