html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

img {
  display: block;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --background: #1F1D36;
  --pale-pink: #E9A6A6;
  --dark-pink: rgba(233, 166, 166, 0.05);
  --grey: rgba(255, 255, 255, 0.50);
  --background-light: #3D3B54;
}

@font-face {
  font-family: "Open Sans";
  src: local("../../assets/font/OpenSans-VariableFont_wdth,wght.ttf");
  font-family: "Open Sans italic";
  src: local("../../assets/font/OpenSans-Italic.ttf");
}
body {
  font-family: "Open Sans";
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background);
  width: 100%;
  height: 100%;
  margin-top: 4.3775rem;
  margin-bottom: 3.375rem;
  color: #fff;
}

.body_noscroll {
  overflow-y: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

hr {
  width: 100%;
  color: var(--grey);
  height: 1px;
  margin: 0.4rem 0;
  opacity: 0.5;
}

.header {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 4.3775rem;
  top: 0;
  left: 0;
  padding: 0 1.25rem;
  background-color: var(--background);
  z-index: 10;
}
.header__profile > div {
  border-radius: 50%;
  background-color: white;
  width: 1.8rem;
  height: 1.8rem;
}

.bottom-nav {
  position: fixed;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: 3.375rem;
  bottom: 0;
  left: 0;
  padding: 0 4.19rem;
  gap: 1rem;
  background-color: var(--background);
}
.bottom-nav__button {
  flex-grow: 1;
  background-color: var(--background);
}
.bottom-nav__button img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: invert(99%) sepia(88%) saturate(2%) hue-rotate(92deg) brightness(113%) contrast(100%);
  opacity: 0.5;
}
.bottom-nav__button_active > img {
  transition-property: filter;
  transition: 0.1s ease-out;
  filter: invert(64%) sepia(4%) saturate(2284%) hue-rotate(314deg) brightness(107%) contrast(108%);
  opacity: 1;
  padding-bottom: 0.2rem;
  border-bottom: 0.08125rem solid black;
}

footer.footer {
  width: 100%;
  background-color: var(--background-light);
  padding: 1.5rem 1rem;
}
footer.footer .footer-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  padding: 0.25rem 0;
}
footer.footer .footer-list__element {
  font-weight: 700;
  margin-right: 0.5rem;
  font-size: 0.7rem;
  line-height: 1rem;
}
footer.footer .footer-list__element a:hover {
  color: var(--pale-pink);
}
footer.footer .footer-grid {
  display: flex;
  align-items: center;
  margin-bottom: 0.75rem;
}
footer.footer p {
  font-size: 0.75rem;
}
footer.footer p a {
  text-decoration: underline;
}
footer.footer p a:hover {
  color: var(--pale-pink);
}

.home {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding: 0 1.25rem;
}
.home__heading {
  font-family: inherit;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.25rem;
}
.home__heading > span {
  color: var(--pale-pink);
}
.home__greeting {
  font-size: 0.875rem;
  min-width: 11rem;
  margin-bottom: 1.31rem;
}

.popular-month__heading, .latest-news__heading, .recent-articles__heading, .popular-month-lists__heading {
  text-transform: capitalize;
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 600;
  margin-bottom: 1.31rem;
}
.popular-month-grid {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.popular-month-lists-grid {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}
.popular-month-lists-grid__element h3 {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.popular-month-lists-grid__element .container {
  display: flex;
  width: fit-content;
  justify-content: flex-start;
  flex-wrap: nowrap;
  height: auto;
  border-radius: 0.25rem;
  border: 1px solid var(--grey);
  overflow: hidden;
  margin-bottom: 0.25rem;
}
.popular-month-lists-grid__element .container:hover {
  border-color: #fff;
}
.poster-link {
  position: relative;
  border-radius: 0.25rem;
  border: 1px solid var(--grey);
  margin-right: -1.5rem;
  z-index: 0;
}

.recent-articles .container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.article-card {
  min-height: 15rem;
  margin-right: 0.75rem;
  min-width: 15rem;
  background-color: var(--dark-pink);
  border-radius: 0.25rem;
}
.article-card > div {
  padding: 0.75rem;
}
.article-card > div a:hover {
  color: var(--pale-pink);
}
.article-card__heading {
  font-weight: 700;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.article-card__image {
  width: 100%;
  height: 8.4375rem;
  border-radius: 0.25rem 0.25rem 0 0;
}
.article-card__link {
  display: block;
  margin-top: 2rem;
  font-size: 0.75rem;
}
.article-card__description {
  font-size: 0.8rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
}

.latest-news {
  margin-bottom: 1.25rem;
}
.latest-news-card {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-pink);
  border-radius: 0.25rem;
  padding-bottom: 0.5rem;
}
.latest-news-card__container {
  padding-left: 0.75rem;
}
.latest-news-card__heading {
  font-weight: 700;
  font-size: 1.25rem;
  margin-top: 0.5rem;
  letter-spacing: 0.05rem;
}
.latest-news-card__heading a:hover {
  color: var(--pale-pink);
}
.latest-news-card__description {
  margin: 0.375rem;
}
.latest-news-card__image {
  border-radius: 0.25rem 0.25rem 0 0;
}
.latest-news-card__link {
  text-transform: uppercase;
  margin-top: 0.25rem;
}
.latest-news-card__link:hover {
  color: var(--pale-pink);
}
.watchlist {
  min-height: 90vh;
  padding: 1.25rem 1rem;
}
.watchlist h1 {
  margin-bottom: 1.31rem;
  font-weight: 700;
}

.burger-menu {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, pointer-events 0.3s;
  z-index: 12;
}
.burger-menu__background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9;
  background-color: rgba(31, 29, 54, 0.7);
}
.burger-menu__aside {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  top: 0;
  left: 0;
  width: 55%;
  height: 100%;
  background-color: var(--background);
  box-shadow: 6px 6px 6px 2px rgba(62, 54, 54, 0.23);
  padding: 2.5rem 1.25rem 0 1.25rem;
  overflow-y: auto;
  z-index: 10;
}
.burger-menu__profile-info {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.burger-menu_active {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.3s ease, pointer-events 0.3s;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: auto;
}

.burger-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.profile-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.profile-info__container {
  margin-left: 1rem;
}
.profile-info__name {
  color: var(--pale-pink);
  font-size: 1rem;
  font-weight: 600;
}
.profile-info__tag {
  font-size: 0.75rem;
  font-weight: 400;
  cursor: pointer;
}
.profile-info__avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #fff;
}

.nav-link {
  display: flex;
  align-items: center;
  width: 100%;
  height: 2rem;
  border-radius: 0.625rem;
  color: var(--grey);
  font-size: 0.625rem;
  font-weight: 600;
  padding: 0.5rem 0 0.44rem 0.5rem;
}
.nav-link > img {
  margin-right: 0.94rem;
  filter: invert(99%) sepia(88%) saturate(2%) hue-rotate(92deg) brightness(113%) contrast(100%);
  opacity: 0.5;
}

.nav-link_active {
  transition: 0.2s;
  background-color: var(--pale-pink);
  color: var(--background);
}
.nav-link_active > img {
  filter: invert(12%) sepia(26%) saturate(936%) hue-rotate(206deg) brightness(100%) contrast(100%);
  opacity: 1;
}

@media (min-width: 992px) {
  body {
    margin-bottom: 0;
  }
  .bottom-nav {
    display: none;
  }
}

/*# sourceMappingURL=index.css.map */
